<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SOHEL SHAIKH PHOTOGRAPHY</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />-->
<!--	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />-->
<!--	<meta name="author" content="FREEHTML5.CO" />-->

  <!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FREEHTML5.CO

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{{url_for('static' , filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{url_for('static' , filename='css/icomoon.css')}}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{url_for('static' , filename='css/bootstrap.css') }}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{url_for('static' , filename='css/magnific-popup.css') }}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{url_for('static' , filename='css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{url_for('static' , filename='css/owl.theme.default.min.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{url_for('static' , filename='css/style.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<!-- Modernizr JS -->
	<script src="{{url_for('static' , filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
<nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	  <div class="col-4" style="margin-left:20px;">
		  <a target="_blank" href="https://www.instagram.com/_sohel_shaikh_official_" >
                        <img class=" m-4" src="./static/logo/i3.jfif" style="height:20px;width:20px;"></a>
                    <a><i></i></a>

<!--                <a class= "fab fa-whatsapp" href='https://wa.me/+919819591931' target='_blank'></a>-->
               <a target="_blank" href="https://www.facebook.com/dhairyafoundation29">
			            <img src="./static/logo/f1.png" style="height:20px;width:20px;"></a>
                    <a><i></i></a>
<!--                <a class="fab fa-facebook-f" href="https://www.facebook.com/dhairyafoundation29" target="blank"></a>-->
              <a target="_blank" href="https://wa.me/+919112730101">
            		   <img class="m-4" src="./static/logo/w1.png" style="height:20px;width:20px;"></a>
		      <a target="_blank" href="https://wa.me/+919112730101">
            		   <img class="" src="./static/logo/w1.png" style="height:20px;width:20px;"></a>
	  </div>
	  <div class="col-4 d-flex justify-content-center">
		  <h4 style="color:White;font-family:  Arial, serif; font-weight:bold;">SOHEL SHAIKH PHOTOGRAPHY</h4>
	  </div>
	  <div class="col-4">
		  <div class="collapse navbar-collapse  " id="navbarSupportedContent" style="margin-left:200px;" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 " style="font-size:15px;">
        <li class="nav-item ">
          <a class="nav-link active" aria-current="page" href="#"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="contact.html">Services</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
			 role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gallery
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="wedding.html">Wedding</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>

    </div>
	  </div>

  </div>
</nav>
	<div class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-push-6 animate-box">
					<h3>Get In Touch</h3>
					<form action="#">
						<div class="row form-group">
							<div class="col-md-6">
								<label for="fname">First Name</label>
								<input type="text" id="fname" class="form-control" name="fname" placeholder="Your firstname">
							</div>
							<div class="col-md-6">
								<label for="lname">Last Name</label>
								<input type="text" id="lname" class="form-control" name="lname" placeholder="Your lastname">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="email">Email</label>
								<input type="text" id="email" class="form-control" name="email" placeholder="Your email address">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="subject">Mobile Number</label>
								<input type="text" id="subject" class="form-control" name="mno" placeholder="Your subject of this message">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="message">FeedBack</label>
								<textarea name="msg" id="message" cols="30" rows="10" class="form-control" placeholder="Write us something"></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="FeedBack" class="btn btn-primary">
						</div>

					</form>
				</div>
				<div class="col-md-5 col-md-pull-5 animate-box">

					<div class="fh5co-contact-info">
						<h3>Contact Information</h3>
						<ul>
							<li class="address">Near SopanWadewale Kedgaon, <br> Ahmednagar,Maharashtra 414001</li>
							<li class="phone"><a href="tel:+91 9112730101">+91 9112730101 </a></li>
							<li class="email"><a href="mailto:sohelshaikh.com.com">info@yoursite.com</a></li>
							<li class="url"><a href="http://gettemplates.co">gettemplates.co</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div id="map" class="fh5co-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1884.9811723379394!2d74.65016574510062!3d19.
		109307792563378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdcb121021ae5b3%3A0xd6c26de46e33b5db!
		2sKedgaon%2C%20Ahmednagar%2C%20Maharashtra%20414005!5e0!3m2!1sen!2sin!4v1618660598278!5m2!1sen!2sin" width="1500" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		<!-- END map -->
<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<br>
						<small class="block"> SOHEL SHAIKH PHOTOGRAPHY </small>
						<br>
<a target="_blank" href="https://www.instagram.com/_sohel_shaikh_official_">
 <img class="m-4" src="./static/logo/i3.jfif" style="height:20px;width:20px;">
</a>


<!--                <a class= "fab fa-whatsapp" href='https://wa.me/+919819591931' target='_blank'></a>-->
         <a target="_blank" href="https://www.facebook.com/dhairyafoundation29">
 <img src="./static/logo/f1.png" style="height:20px;width:20px;">
</a>


<!--                <a class="fab fa-facebook-f" href="https://www.facebook.com/dhairyafoundation29" target="blank"></a>-->
        <a target="_blank" href="https://wa.me/+919112730101">
 <img class="m-4" src="./static/logo/w1.png" style="height:20px;width:20px;">
</a>
<div class="gototop js-top">
		<a href="#" class="{{url_for('static' , filename='js-gotop') }}"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{{url_for('static' , filename='js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{url_for('static' , filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{url_for('static' , filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static' , filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Carousel -->
<!--	<script src="{{url_for('static' , filename='js/owl.carousel.min.js') }}"></script>-->
	<!-- countTo -->

	<!-- Stellar -->
	<script src="{{url_for('static' , filename='js/jquery.stellar.min.js') }}"></script>

	<!-- Main -->
	<script src="{{url_for('static' , filename='js/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	</body>
</html>
